@{
    ViewBag.Title = "Add Product";
}

<div class="jumbotron">
    <h1>Add Details of Product</h1>
</div>

<div class="row">
    <form action="/Home/CreateProduct" method="post" class="loginbox">

        <label class="lblname"> Product Name:- </label>
        <input type="text" name="name" size="100" class="txtProductName" required /><br>
        <br />

        <button type="submit" class="btnsubmit">ADD</button>&nbsp;&nbsp;&nbsp;
        <a href="/Home/ProductList"> Cancel</a>



    </form>

</div>